<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="login-clean" style="background-color: rgb(255,255,255);">
        <form method="post">
            <div class="container"><label>1반:&nbsp;</label><label>{{ .class1 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>2반:&nbsp;</label><label>{{ .class2 }}<br></label></div>
            <div class="container" style="margin-top: 12px;"><label>3반:&nbsp;</label><label>{{ .class3 }}<br></label></div>
            <div class="container" style="margin-top: 12px;"><label>4반:&nbsp;</label><label>{{ .class4 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>5반:&nbsp;</label><label>{{ .class5 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>6반:&nbsp;</label><label>{{ .class6 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>7반:&nbsp;</label><label>{{ .class7 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>8반:&nbsp;</label><label>{{ .class8 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>9반:&nbsp;</label><label>{{ .class9 }}</label></div>
            <div class="container" style="margin-top: 12px;"><label>10반:&nbsp;</label><label>{{ .class10 }}</label></div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>